body{
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1280px;
    margin: auto;
}
.header{
    border-bottom: 1px solid #EBE8F4;
    padding-bottom: 20px;}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.header__logo {
    font-size: 24px;
    color: #22202E;
    font-family: 'Montserrat', sans-serif;
}
.header__nav {
    color:#726E8D;
}
.header__menu {
    display: flex;
    gap:0 44px;
    list-style-type: none;
}
.header__menu-item {
}
.header__menu-link {
    color:#726E8D;
}
.header__img-nav {
    display: flex;
    gap: 0 16px;
}
.view-all-products {

}
.view-all-products__title {
font-size: 36px;
text-align: center;
line-height: 50px;
margin-top: 80px;
font-family: 'Montserrat', sans-serif;
}
.dropdown-sorting{
    display: flex;
    justify-content: space-between;
}
.view-all-products__sorting {
    display: flex;
    justify-content: space-between;
    gap: 0 12px;
}
.view-all-products__dropdown {
    padding: 12px 24px 12px 48px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><rect width="16" height="16" fill="white" style="mix-blend-mode:multiply"/><path d="M12 6L8 11L4 6H12Z" fill="%232A254B"/></svg>') no-repeat right center;
    background-size: 12px; /* Регулируйте размер стрелки, при необходимости */
    padding-right: 20px;
}
.view-all-products__sortingBy {
    display: flex;
    align-items: center;
    gap: 0 40px;
}
.view-all-products__sortingBy select{
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><rect width="16" height="16" fill="white" style="mix-blend-mode:multiply"/><path d="M12 6L8 11L4 6H12Z" fill="%232A254B"/></svg>') no-repeat right center;
    background-size: 12px; 
    padding-right: 20px;
}
.benefits {
   
}
.benefits__container {
    margin-top: 41px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.benefits__product-card {
    font-size: 20px;
    line-height: 28px;
    color: #2A254B;
    padding-bottom: 14px;
}
.benefits__product-card-img {
}
.benefits__product-card-title {
    font-size: 20px;
    margin-top: 24px;
    font-weight: normal;
    margin:22px 0 8px 0;
    font-family: 'Montserrat', sans-serif;
}
.benefits__product-card-price {
    font-size: 18px;
    margin:8px 0 0 0;
}
.benefits__btn{
    padding: 16px 32px;
    border: 0cap;
    border-color:  #F9F9F9;
    display: block;
    
    margin: 34px auto 40px auto;
}
.join-the-club{
    display: flex;
}
.join-the-club::before{
    content: "";
    width: 720px;
    height: 521px;
    display: block;
    background-position: left;
    background-image: url(./../img/join-background.jpg);
}
.join-the-club__wrapper {
    margin-left: 70px;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.join-the-club__title {
font-size: 32px;
color: #2A254B;
font-weight: 400;
margin: 0;
}
.join-the-club__p {
    font-size: 16px;
    width: 470px;
    position: absolute;
    top: 100px;
}
.join-the-club__btn {
}
.join-the-club__link {
    color: #FFFFFF;
    padding: 16px 32px;
    background-color: #2A254B; 
}
.footer {
    background-color: #2A254B;
    padding: 60px 0 25px 0;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    border-bottom:1px  solid #4E4D93 ;
}
.footer__title {  
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.footer__list-item {
    margin-top: 12px ;
}
.footer__list {
   list-style-type: none;
   padding: 0;
   margin: 0;
}
.footer__list-link {
    color: #FFFFFF;
}
.footer____bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.footer__copy {
    color: #FFFFFF;
}
.footer__social-icons {
    display: flex;
    column-gap: 24px;
}
.footer__icon-link {
    
}